{% extends "home/layout.html" %}

{% block header %}
{% if not user.is_authenticated %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login_view' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'contact' %}">Contact<span class="sr-only">(current)</span></a>
        </li>
{%endif %}
{% if user.is_authenticated %}
    </ul>
    <ul style="margin-right: 19%;" class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'contact' %}">Contact<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'menu' %}">Menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'shopping_cart' %}">Cart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'orders' %}">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout_view' %}">Logout</a>
        </li>
{%endif %}
</ul>
{% endblock %}

{% block body %}
<div class="contact-container">
    <div class="card">
        <img src="https://bernardmarr.com/img/Measuring%20Staff%20Satisfaction%207%20Reasons%20Why%20Your%20Staff%20Survey%20Is%20Not%20Giving%20You%20Anything%20Useful.png" class="card-img-top" alt="Staff">
        <div class="card-body">
            <h5 class="card-title">BestBooks B.V.</h5>
            <p class="card-text">Your best book supplier on the web</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Postcode:</b> 7483 DG Amsterdam</li>
            <li class="list-group-item"><b>Adres:</b> Science Park</li>
            <li class="list-group-item"><b>Telefoon:</b> 0612345678</li>
        </ul>
    </div>
</div>
{% endblock %}