{% extends "home/layout.html" %}

{% block header %}
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'login_view' %}">Login<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
    </li>
</ul>
{% endblock %}

{% block body %}
{% if success %}
    <div class="alert alert-success" role="alert">
      {{ success }}
    </div>
{% elif error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
{% elif logout %}
    <div class="alert alert-info" role="alert">
        {{ logout }}
    </div>
{% endif %}
<div class="login-container">
    <div class="login">
        <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
        <form class="needs-validation" action="{% url 'login_view' %}" method="post" novalidate>
            {% csrf_token %}
            <h2 class="text-success">Log-in:</h2>
            <!-- http://getbootstrap.com/docs/4.1/components/forms/ : Custom styles -->
            <div  class="form-group login_creds">
                {{ form.username }}<br>
            </div>
            <div class="form-group login_creds">
                {{ form.password }}<br>
            </div>

            <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
            <button class="btn btn-success" type="submit">Login</button>

            <input type="hidden" name="next" value="{{ request.GET.next }}"/>

        </form>
    </div>
</div>

    <!-- https://getbootstrap.com/docs/4.1/components/forms/#validation -->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
    </script>
{% endblock %}